@import "tailwindcss";

/* Fonts */
@font-face {
	font-family: "Satoshi";
	font-style: normal;
	font-weight: normal;
	src:
		local("Satoshi Regular"),
		url("../fonts/Satoshi-Regular.woff") format("woff");
}

@font-face {
	font-family: "Satoshi";
	font-style: normal;
	font-weight: 500;
	src:
		local("Satoshi Medium"),
		url("../fonts/Satoshi-Medium.woff") format("woff");
}

@font-face {
	font-family: "Satoshi";
	font-style: normal;
	font-weight: 700;
	src:
		local("Satoshi Bold"),
		url("../fonts/Satoshi-Bold.woff") format("woff");
}

/* Variables */
@theme {
	/* Container */
	--container-padding: 0 16px;
	--container-max-width: 1352px;
	/* Fonts */
	--font-satoshi: "Satoshi", sans-serif;
	/* Colors */
	--color-gray-50: #d2d2d2;
	--color-gray-100: #f7f7f7;
	--color-gray-400: #9a9a9a;
	--color-gray-500: #333333;
	--color-green-50: rgba(166, 227, 113, 0.2);
	--color-green-600: #256a09;
	--color-primary: #fd7256;
	--color-primary-hovered: #f05f42;
	--color-title: #264049;

	/* Backgrouns */
	--bg-gradient-slider: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 18.6%,
		rgba(255, 255, 255, 0) 80.6%,
		rgba(255, 255, 255, 0.4) 100%
	);
}

/* Global Styles */
@layer base {
	/* Fonts */
	html,
	body {
		@apply font-satoshi scroll-smooth bg-gray-100;
	}
	p {
		@apply font-medium text-gray-500 capitalize;
	}
	h2 {
		@apply text-title text-[40px] leading-normal font-bold capitalize max-md:text-3xl max-sm:text-2xl;
	}
	h3 {
		@apply text-title text-2xl font-bold capitalize;
	}
}
@layer components {
	/* Button */
	.btn {
		@apply flex w-full max-w-fit cursor-pointer items-center justify-center gap-2 rounded-[10px] font-bold text-white transition-colors;
	}

	/* Input */
	.input {
		@apply focus:outline-primary w-full rounded-[10px] border border-gray-50 px-8 py-4 text-lg placeholder:text-gray-400 placeholder:italic max-lg:px-4 max-lg:py-2 max-lg:text-base;
	}
}
/* Container max-width & paddings */
@utility container {
	margin: 0 auto;
	max-width: var(--container-max-width);
	padding: var(--container-padding);
}

@layer utilities {
	.btn.btn-primary {
		@apply bg-primary hover:bg-primary-hovered flex max-w-fit items-center justify-center gap-2 p-4 text-lg font-bold max-lg:py-2 max-lg:text-base;
	}
	.btn.btn-outline {
		@apply hover:bg-primary-hovered text-primary border-primary hover:border-primary-hovered rounded-[10px] border-[1.5px] bg-white hover:text-white;
	}
	.btn.btn-sm {
		@apply px-5 py-2;
	}
	.pagination-btn.active {
		@apply bg-primary border-primary cursor-default text-white;
	}
}

/* Swiper Slider */
.swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: black;
	opacity: 0.13;
	transition: 0.3s all;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 15px;
	height: 15px;
	background: var(--color-primary);
}
.swiper-slide-videos {
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		inset: 0;
		background: var(--bg-gradient-slider);
		content: "";
		pointer-events: none;
	}
}
.swiper-slide-videos.swiper-slide-active {
	&:after {
		opacity: 0;
		pointer-events: none;
	}
}
